node_modules
./src/CrossSectionTools.js
./src/DaskCrossSectionTools.py
./tests/*/output
data
temp
*.zip
package.json
package-lock.json
.vscode
developing
.pytest_cache
./*/__pycache__
./*/*/__pycache__
/build
/*.egg-info